# ⚠️ IMPORTANT SECURITY NOTICE
# Never commit your .env file to version control!
# Ensure to use unique values for SECRET_KEY and SECURITY_PASSWORD_SALT.

SECRET_KEY=<Your-Unique-Secret-Key-Here>
SECURITY_PASSWORD_SALT=<Your-Unique-Security-Password-Salt-Here>
DEBUG=False